.Map-Popup {
  margin-top: 0;
  width: 242px;
}

.Map-Popup-header {
  font-size: 1.25rem;
  font-weight: bold;
  line-height: 1.25rem;
  font-family: NationalPark;
}

.Map-Popup-header > a {
  color: #000;
  width: 200px;
}

.Map-Popup-link-icon {
  height: 14px;
  margin-left: 5px;
}

.Map-Popup-body {
  font-size: 12px;
  line-height: 16px;
  margin-top: 8px;
  margin-bottom: 0;
}

.Map-Popup-body > ul {
  margin-left: 0;
  padding-left: 20px;
}

.Map-Popup-body__unavailable {
  font-style: italic;
}

.Map-Popup-body__available {
  font-style: italic;
  display: block;
  margin-bottom: 4px;
}

/* Override values from third-party libraries */

/* Use the theme color for the popup background */
.mapboxgl-popup-content {
  background-color: #faf3ce;
}
.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
  border-top-color: #faf3ce;
}

/* Apply uniform spacing to the tooltip container */
.mapboxgl-popup-content {
  padding: 12px;
  padding-bottom: 9px;
}

/* Avoid making the calendar appear selectable/editable */
.Map-Popup-calendar .react-datepicker__day {
  cursor: default;
}
.Map-Popup-calendar .react-datepicker__day:hover {
  background-color: #ffffff;
}
.Map-Popup-calendar .react-datepicker__day--highlighted:hover {
  background-color: #3dcc4a;
}

@media (max-width: 400px) {
  .Map-Popup-calendar {
    display: none;
  }
}
