.Main {
  display: flex;
  height: 100vh;
}

.FilterPane {
  padding-top: 1rem;
  flex-basis: 30%;
  min-width: 320px;
  padding-left: 1.5rem;
  padding-right: 1rem;
  padding-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #faf3ce;
}

a {
  color: #3a4330;
}
