header {
  padding-top: 1.5rem;
  padding-left: 1.5rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid black;
}

.Header-Text {
  margin: 0;
}

section.content {
  display: flex;
}

.Filters {
  flex-basis: 30%;
  padding-left: 1.5rem;
  padding-right: 1rem;
  border-right: 1px solid black;
}

.Filters-Header {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.Filters-Header-Label {
  margin: 0;
}

form > label {
  font-size: 1rem;
  font-weight: 700;
  display: block;
  margin-bottom: 0.25rem;
}

.Filter-Label-Text {
  width: 80px;
}

.react-datepicker-wrapper {
  display: inline;
}

.react-datepicker__input-container {
  display: inline;
}

.Map-Popup {
  max-height: 150px;
  overflow: auto;
  margin-top: 8px;
}

.Map-Popup-header {
  font-size: 16px;
  font-weight: bold;
}

.Map-Popup-body {
  font-size: 12px;
  margin-top: 12px;
  margin-bottom: 0;
}

.Map-Popup-body__unavailable {
  font-style: italic;
}

.Map-Popup-list {
  margin-top: 4px;
  margin-bottom: 0;
}

.Map-circle {
  width: 10px;
  height: 10px;
  border-radius: 5px;
}

.Map-circle__active {
  background: #d00;
}

.Map-circle__inactive {
  background: #6e6e6e;
}

.Map-circle__selected {
  box-shadow: 0px 0px 0px 1px black;
}
